img{
    position: absolute;
    left: 10px;
    top: 50px;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#info{
    position: absolute;
    left: 70px;
    top: 50px;
    width: 160px;
    height: 160px;
    cursor: pointer;
    background: tan;
    font-size: .7em;
    font-family: "Arial";
}